.idea {
    background-color: rgb(32, 36, 34);
    padding: 25px;
    border-radius: 12px;
    margin-top: 50px;
}

.ideas-list {
    display: flex;  
    flex-wrap: wrap;  
    justify-content: space-evenly;
}

.add-button {
    margin: 5px;
    margin-top: 25px;
    margin-bottom: -10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add-button:hover {
    margin: 5px;
    margin-top: 25px;
    margin-bottom: -10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.idea-edit-button {
    margin: 5px;
    margin-top: 25px;
    margin-bottom: -10px;
}

.idea-edit-button:hover {
    margin: 5px;
    margin-top: 25px;
    margin-bottom: -10px;
}

.ideas-header {
    text-align: center;
}