.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding: 10px;
    background-color: rgb(138, 145, 140);
}

.navbar__item {
    list-style-type: none;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
}

.navbar__link {
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
}

a:hover {
    color: rgb(119, 207, 148);
}

